body {
    background-color: #eeeeee;
    color: #555555;
  }
  
  .todo-list {
    position: relative;
    margin: 30px auto;
    background-color: #ffffff;
    width: 600px;
    padding: 20px 20px 10px 20px;
    border: 1px;
    border-color: #dddddd;
    border-radius: 2px;
  }
  
  .todo-list h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .list-group-flush> .list-group-item {
    padding: 8px 0px;
  }
  
  .todo-footer {
    border: 1px;
    border-top-color: #dddddd;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #f4fce8;
    margin: 0 -20px -10px -20px;
  }
  
  .mark-all-done {
    margin-top: 10px;
  }